*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.body{
    background-color: #f5f5f5;;
}
.card{
    display: flex;
}
.registation{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.fieldset{
    border-radius: 10px;
}
.div{
    margin-left: 250px;
    margin-top: 40px;
    width: 220px;
background-color: #fff;
}
.Name{
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Email{
    margin-right: 10px;
    margin-left: 20px;
}
.id{
    height: 24px;
    width: 190px;
    border-radius: 5px;
    border-width: 1.3px;
}
.Password{
     margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.submit{
    width: 190px;
    margin-left: 20px;
    margin-bottom: 10px;
    color:#fff;
    background-color: #0496c7;
    border-radius: 4px;
    height: 25px;
}
.successful{
    margin-top: 40px;
    margin-left: 30px;
    height: 275px;
    border-radius: 15px;
    background-color: #fff;
    width: 220px;
}
.row{
    text-align: center;
}
.registation{
    font-size: x-large;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.you{
    font-size: small;
}
.get{
    margin-top: 40px;
    margin-left: 30px;
    width: 220px;
    height: 275px;
    border-radius: 15px;
    background-color: #fff;
}
.demo{
    text-align: center;
}
.Login{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text{
    height: 30px;
    width: 180px;
    margin-top: 20px;
}
.button{
    width: 180px;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    background-color: #0496c7;
    color: #fff;
}
.Forget{
    margin-top: 10px;
    color: gray;
    font-size: small;
}
.Profile{
    margin-left: 250px;
    margin-top: 30px;
    width: 220px;
    height: 227px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
}
.User{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.John{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.Edit{
    background-color: #0496c7;
    height: 20px;
    width: 180px;
    border-radius: 5px;
    margin-top: 20px;
}
.example{
    color: gray;
}
.login{
    display: flex;
}
.Privacy{
    height: 227px;
    width: 220px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15px;
    background-color: #fff;
}
.Setting{
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.privacy{
    margin-top: 10px;
    margin-left: 20px;
    height: 30px;
    width: 180px;
    margin-right: 20px;
    border-radius: 5px;
    border-width: 1px;
}
.row1{
    display: flex;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.space{
    width: 220px;
    background-color: #fff;
    margin-top: 30px;
    margin-left: 30px;
    height: 230px;
    border-radius: 15px;
}
.Welcome{
    margin-left:20px;
}
.demo1{
    background-color: #f5f5f5;
    width: 55px;
    margin-left: 20px;
}
.This1{
    display: flex;
}
.you1{
    margin-left:20px;
    font-size: small;
}
.Dashboard{
    margin-left: 20px;
    margin-top: 20px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.Message{
    display: flex;
    line-height: 1.9;
}
.h1{
    width: 100px;
}
.Dashboard1{
    background-color: #b33434;
}
.line1{
    /* width: 130px; */
    background-color: #f5f5f5;
    border-radius: 15px;
    margin-left: 20px;
}
.line{
    width: 50px;
    height: 3px;
    background-color: #a6a9ab;
    margin:10px ;
    border-radius: 5px;
    margin-left: 20px;
}
.value{
    width: 190px;
    height: 25px;
    background-color: #0496c7;
    border-radius: 5px;
}


